.book {
    margin: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(145, 145, 145);
}

.book_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.book_img {
    width: 150px;
    flex-grow: 1;
}

.book_details {
    flex-grow: 1;
}

.book_details,
.book_img {
    margin: 10px;
}