.book {
    margin: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(145, 145, 145);
}

.book_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.book_img {
    width: 150px;
    flex-grow: 1;
}

.book_details {
    flex-grow: 1;
}

.book_details,
.book_img {
    margin: 10px;
}

.book_pricing_top {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid blue;
}

.book_pricing_bottom {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid blue;
}